---
import Typing from '../components/Typing.astro';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

const greeting = "Hi there. I'm Fabian."
const titleMessage = "Great to see you. <br> Scroll down to get to know me a little better."
const descriptionShort = `
I'm a web technology enthusiast with a knack for crafting innovative solutions that seamlessly integrate with user needs. My journey through Computer Science at the University of Innsbruck has equipped me with a diverse skill set, covering various facets of software development.
Beyond the digital realm, I find joy and vitality in outdoor pursuits like hiking or soccer.`
---

<Layout title="Fabian Amhof">
	<main>
		<div class="h-screen p-10 relative">
			<div class="text-center h-full w-full flex flex-col items-center justify-center" style="background: radial-gradient(farthest-side, rgba(255, 255, 255, 1), transparent)">
				<div class="flex flex-col items-center justify-center">
					<img alt="Amhof Fabian" class="rounded-full mx-auto h-32 w-32 shadow-2xl" src="/fabian.jpg">
					<h1><Typing text={greeting}/></h1>
					<h2>
						<Typing delay={2000} text={titleMessage} />
					</h2>
				</div>
				<a href="#me" class="absolute bottom-2 opacity-0 animate-fadeIn animation-delay-[4000ms]"><button class="bg-accentColor rounded-full h-12 md:h-20 w-12 md:w-20 animate-bounce shadow">&DownArrow;<button></a>
			</div>
		</div>
		<div id="me" class="h-screen p-10 relative flex flex-col items-center justify-center">
			<h1 class="mb-10">Me.</h1>
			<div class="text-center max-h-full w-full lg:max-w-[50%] overflow-auto shadow-2xl bg-backgroundColor rounded-lg p-5">
				<span>
					<Typing speed={0} text={descriptionShort} />
				</span>
			</div>
		</div>
		<div class="p-10 relative flex flex-col items-center">
			<h1 class="mb-10">My Journey.</h1>
			<div class="flex flex-col gap-5 w-full lg:max-w-[50%] relative">
			<svg class="absolute" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
				<line x1="50" y1="0" x2="50" y2="100" class="stroke-gray-200 stroke-2"/>
			</svg>
			<div class="w-[75%] md:w-[60%] z-10">
				<Card title="Born" description="I came into the world in 97, right here in Welsberg, South Tyrol." time='1997'></Card>
			</div>
			<div class="self-end w-[75%] md:min-w-[60%] z-10">
				<Card title="School" description='Spent some good years at TFO Bruneck. It helped me evovling me and my technical skills.' time='2003<br>-<br>2016'></Card>
			</div>
			<div class="w-[75%] md:min-w-[60%] z-10">
				<Card title="Elpo" description='Worked for three years at Elpo Bruneck, handling building control systems. It was a job that kept me engaged and encouraged innovation.' time='2016<br>-<br>2019'></Card>
			</div>
			<div class="self-end w-[75%] md:min-w-[60%] z-10">
				<Card title="University Innsbruck" description='Took a three-year stint in Innsbruck to dive into Computer Science. Explored the vast world of tech and picked up valuable skills.' time='2019<br>-<br>2022'></Card>
			</div>
			<div class="w-[75%] md:min-w-[60%] z-10">
				<Card title="SiMedia" description="Since 2022, I've been working with the SiMedia crew. It's been a journey of collaboration and innovation, and I'm embracing every moment." time='2022<br>-<br>now'></Card>
			</div>
		</div>
			
		</div>
		<div class="h-screen p-10 relative">
			<div class="text-center h-full w-full flex flex-col items-center justify-center">
				<h1><Typing speed={2} infinite={true} text="<bold class='font-extrabold'>Thank you!</bold>"/></h1>
				<div class="flex flex-col items-center justify-center">
					<span>
						<br>Here are some of the technologies that helped me build this website.<br>
					</span>
					<span class="flex gap-5 mt-10">
						<a class="transition-all duration-500 h-10 hover:h-16" href="https://astro.build/"><img class="h-full" alt="Astro" src="astro.png"></a>
						<a class="transition-all duration-500 h-10 hover:h-16" href="https://tailwindcss.com/"><img class="h-full" alt="Tailwind" src="tailwind.png"></a>
						<a class="transition-all duration-500 h-10 hover:h-16" href="https://aws.amazon.com/"><img class="h-full" alt="AWS" src="aws.png"></a>
						<a class="transition-all duration-500 h-10 hover:h-16" href="https://github.com/fabianamhof/myWebsite2"><img alt="Github" class="h-full" src="github.png"></a>
					</span>
				</div>
			</div>
		</div>
	</main>
</Layout>
<style>
	main {
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		@apply text-5xl p-5;
	}

	h2 {
		@apply text-3xl p-3;
	}
</style>
