---
interface Props {
	time: string;
	title: string;
	description?: string;
}

const { time, title, description } = Astro.props;
---
<div>
	<details class="overflow-hidden w-full bg-backgroundColor rounded-lg shadow-lg justify-center items-center cursor-pointer hover:bg-highlightColor hover:text-white transition-[background-color] duration-300" open>
		<summary class="grid grid-cols-[70px_auto] transition-all duration-150">
			<div class="p-5 col-start-1 col-end-1 border-r text-sm flex items-center" set:html={time}></div>
			<div class="p-5 col-start-2 col-end-2l flex items-center">{title}</div>
		</summary>
		<div class="p-5 col-span-2">{description}</div>
	</details>
</div>
<script>
</script>
<style>

details[open] summary {
  margin-bottom: 10px;
}
</style>
